# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod
*.smod

# Executables
*.exe
*.out
*.app

# Debug files
*.ilk
*.pdb
*.idb

# Project files
graphics-coursework/Debug/
graphics-coursework/.vs/
graphics-coursework/.vcxproj.user